:host {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;
  margin-bottom: 1.4rem;
}

:host * {
  box-sizing: border-box;
}

:host input {
  appearance: none;
  background-color: inherit;
  border: 1px solid var(--default);
  border-radius: 6px;
  height: 44px;
  padding: 1px calc(0.8rem + 1px);
  width: 100%;
  transition-property: background, border, padding;
  transition-duration: 60ms;
  font-size: inherit;
  font-weight: inherit;
}

/*input with focus*/
:host input:focus {
  border: 2px solid var(--focus);
  padding: 0 0.8rem;
  outline: 0;
}

/*input with errors*/
:host([error]) input {
  background-color: var(--error-background);
  border: 2px solid var(--error);
  border-radius: 6px 6px 0 6px;
  padding: 0 0.8rem;
}

:host([error=""]) input {
  border-radius: 6px;
}

:host([error]) input:focus {
  background-color: inherit;
}

/*errors*/
:host ul {
  font-size: 0.85rem;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 100;
  min-height: 22px;
  margin: -22px 0 0;
  transform: translateY(22px);
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

:host ul li {
  background: var(--error);
  min-height: 20px;
  line-height: 19px;
  border-radius: 0 0 6px 6px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9rem;
  padding: 1px 0.5rem;
  text-align: right;
  position: relative;
  letter-spacing: 0.01em;
  max-width: calc(100% - 8px);
}
